/*
Author: Darren Ross
Date: 2/7/2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-image: url("images/dealership.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header  {
    background-image: url("images/dealership.png");

}
header div {
    font-family: 'Michroma', sans-serif;
    font-size: xx-large;
}
.imgcenter {   
    width: 35%;
    opacity: 90%;
  }
  
.centered {
    position: absolute;
    top: 20%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background: repeating-radial-gradient(#ff1919, transparent 40px);
}  

/* Style rule for header */
header h1 {
    color: #000;
}

p {
    text-align: center;
    font-size: xx-large;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Style rule for navigation area */
nav {
    background-color: #000;
    font-family: 'Michroma', sans-serif;
    
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 19px;
    
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rule for main content */
main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'PT Sans Narrow', sans-serif;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;

}

#info {
    background: slategray;

}

div #button {
    position: relative;
    top: 37%;
    left: 37%;;
}

.btn {

    padding: 16px;
    font-size: 46px;
    width: 250px;
    cursor: pointer;
 }
 .drop {
    position: relative;
    display: inline-block;
 }
 .drop-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(232, 225, 225, 0.2);
    z-index: 1;
 }
 drop-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 .drop-content a:hover {
    background-color: black;
 }
 .drop:hover .drop-content {
    display: block;
 }
 .drop:hover .btn {
    background-color: blue;
 }

/* Style rules for footer content */
footer {
    background-color: #333;
    opacity: 95%;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;

}
  